<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Costio</title>
</head>
<body>
<h1>Costio</h1>
<a href="{% url 'costio:logout' %}">Log out</a>
{% block content %}

{% endblock %}
</body>
</html>