<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{% url 'costio:expense_delete' object.id %}">
    {% csrf_token %}
    <p>Are you sure?</p>
    <input type="submit" value="Delete">
</form>
</body>
</html>