{% extends 'costio_web/base_template.html' %}
{% block content %}
<h1>Your Expenses and Incomes</h1>
<h2>Your balance: {{expenses_data}}</h2>
<a href="{% url 'costio:expense_create' %}">Add Expense</a>
{% for expense in expense_list %}
    <ul>
        <li>
            {{expense.category}}
        </li>
        <li>
            {{expense.cost}}
        </li>
    </ul>
<a href="{% url 'costio:expense_delete' expense.id %}">Delete</a>
{% endfor %}
{% endblock %}