<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% if form.errors%}
    <p>You have entered wrong credentials. Please try again.</p>
{% endif %}
<form method="POST" action="{% url 'costio:login' %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
</form>

<a href="{% url 'costio:registration' %}">Register</a>
</body>
</html>